@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, monospace;
  font-weight: 900;
}

header {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

img.logo {
  width: 65px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header li a {
  text-decoration: none;
  color: #000;
  transition: all 2s ease 0s;
}

header li a:hover {
  color: #3c64b1;
}

button {
  background-color: rgba(60, 100, 177, 1);
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border-style: none;
  transition: all 2s ease 0s;
}

button:hover {
  background-color: rgba(60, 100, 177, 0.5);
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #1e2833;
  margin: auto;
  padding: 10px 10%;
  color: #ffffff;
}

span.news {
  width: 20%;
  height: 200px;
  margin: 30px 0 0 0;
}

span.about {
  display: flex;
  text-align: center;
  width: 80%;
  margin: 30px 0 0 0;
  color: #4a74df;
}

.section {
  width: 33%;
}

footer div span section ul li {
  color: #ffffff;
  list-style: none;
  padding: 10px 0;
  font-weight: 400;
}

.bottom {
  color: #c3cbcd;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rights {
  font-size: smaller;
}

.terms {
  font-size: smaller;
}


/* About */

#about{
  background-image: linear-gradient(rgba(62, 62, 63, 0.3), rgba(94, 94, 94, 0.7)),url("file://c:git/CPS-Files/images/about/about-photo.jpg");
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about h2{
  color:rgb(255, 255, 255);
  font-size: 2.6rem;
  font-weight:900;
}

#about p{
  width: 800px;
  color:rgb(255, 255, 255);
  font-size: 0.9rem;
  line-height: 25px;
}

#CPSociety{
  padding-top: 5%;
  padding-bottom: 3%;
  padding-right: 14%;
  padding-left: 16%;
  border-width: 10%;
}

#CPSociety h1{
  color:rgb(0, 0, 0);
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: Montserrat, bold;
}

#CPSociety p{
  width:95%;
  color:rgb(0, 0, 0);
  margin-bottom: 80px;
  font-size: 1.0rem;
  line-height: 20px;
  padding: 13px 0 7px 0;
  height: 10%;
}

#Visionbullet p{
  width:80%;
  color:rgb(0, 0, 0);
  margin-bottom: 5px;
  font-size: 1.0rem;
  line-height: 20px;
  padding: 1vw 2vw 0vw 8vw;
  height: 50%;
  text-indent: -1.6ch;
}

/* Program Chairs */
#chairs{ 
  padding: 0vw 19vw 0 19vw;
  text-align: center;
  margin-bottom: -4rem;
  background-color: #FFFFFF;
}

#chairs h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:bolder;
}

#chairs h1{
  color:rgb(0, 0, 0);
  margin-top: 100px;
  font-size: 2rem;
  font-weight:bolder;
}

#chairs p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}

img.teamprof {
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}

#chairs .chair-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: .1rem;
  margin-top: 40px;
}

#chairs .chair-box .chairprof{
  background: #FFFFFF;
  padding: 30px 10px;
}

/* officers */
#officers{ 
  padding: 0vw 19vw 0 19vw;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: -4rem;
  background-color: #FFFFFF;
}
#officers2{ 
  padding: 0vw 19vw 0 19vw;
  text-align: center;
  margin-bottom: -4rem;
  background-color: #FFFFFF;
}
#officers3{ 
  padding: 0vw 19vw 0 19vw;
  text-align: center;
  margin-bottom: -4rem;
  background-color: #FFFFFF;
}
#officers4{ 
  padding: 0vw 19vw 0 19vw;
  text-align: center;
  margin-bottom: -4rem;
  background-color: #FFFFFF;
}

#officers h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:bolder;
}
#officers2 h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:bolder;
}
#officers3 h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:bolder;
}
#officers4 h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:bolder;
}

#officers h1{
  color:rgb(0, 0, 0);
  margin-top: 100px;
  font-size: 2rem;
  font-weight:bolder;
}

#officers p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}
#officers2 p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}
#officers3 p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}
#officers4 p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}

#officers img.teamprof {
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}
#officers2 img.teamprof {
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}
#officers3 img.teamprof {
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}
#officers4 img.teamprof {
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}

#officers .officer-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 0rem;
  margin-top: 40px;
}
#officers2 .officer-box2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 6rem;
  margin-top: 80px;
}
#officers3 .officer-box3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 6rem;
  margin-top: 80px;
}
#officers4 .officer-box4{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 6rem;
  margin-top: 80px;
}

#officers .officer-box .office{
  background: #FFFFFF;
  padding: 30px 10px;
}
#officers2 .officer-box2 .office2{
  background: #FFFFFF;
  padding: 30px 10px;
}
#officers3 .officer-box3 .office3{
  background: #FFFFFF;
  padding: 30px 10px;
}
#officers4 .officer-box4 .office4{
  background: #FFFFFF;
  padding: 30px 10px;
}

/* team */
#team{ 
  padding: 5vw 19vw 0 19vw;
  text-align: center;
  margin-bottom: -4rem;
  margin-top: 10rem;
  background-color: #F4F6FC;
}

#team2{
  padding: 5vw 8vw 5vw 8vw;
  text-align: center;
  background-color: #F4F6FC;
}

#team h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:900;
}

#team h1{
  color:rgb(0, 0, 0);
  margin-top: 2px;
  font-size: 2rem;
  font-weight:bolder;
}

#team2 h4{
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight:900;
}

#team p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}

#team2 p{
  color:rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600;
}

img.teamprof {
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
}

#team .team-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 2rem;
  margin-top: 40px;
}

#team2 .team-box2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 24rem;
  margin-top: 0px;
}

#team .team-box .profile{
  background: #FFFFFF;
  padding: 30px 10px;
}

#team2 .team-box2 .profile2{
  background: #FFFFFF;
  padding: 30px 10px;
}

.social{
  margin-top: 15px;
}

.social i{
  padding: 10px 5px;
  cursor: pointer;
}

.social i:hover{
  color: rgb(238, 56, 56);
  cursor:rgb(238, 56, 56);
}
/*
@media (max-width: 768px){
  header {
    padding: 10px 110px; 
  } 
  img.logo {
    width: 55px;
  }
}*/