.formlayout {
  display: flex;
  align-items: center;
  border: solid #000;
  border-width: 2px;
  border-color: #e5e5e5;
  border-radius: 20px;
  margin: 50px 25%;
  padding: 2px;
}

.input {
        font: size 40px;
        padding: 10px;
        outline: 0;
        border: 5px;
        width:250px;
        background: #EBE8DE;
        border-radius:10px;
}

h2 {
    width: 100%;
    margin: 1em 0 .5em 1.2em;
    padding: 0;
    color:black;
    font-size: 40px;
    text-align: center;
  }

.leftside {
  width: 45%;
}

.login_photo {
  width: 400px;
  height: 500px;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.form {
  width: 55%;
  height: 100%;
  padding: 5px 0;
}
main div span form div {
  padding: 20px 10%;
}

/* #student_id,
#password {
} */

.messagebutton {
  background-color: rgba(60, 100, 177, 1);
  color: #ffffff;
  cursor: pointer;
  padding: 20px 50px;
  border-style: none;
  border-radius: 50px;
  position: relative;
}
