.container5 {
  position: relative;
}
.container1 {
	background-color: #fff;
	border-radius: 2px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    padding: 10px;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 200px;
}
.container2 {
	background-color: #DAEBF8;
	border-radius: 2px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    padding: 100px;
	overflow: hidden;
	width: 1700px;
	max-width: 100%;
	min-height: 600px;
}
.letter
{
    text-align: center;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
}
.center1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
          }
          .width {  width: 35%;  height: 35%; } 
          
          .center2 {
            margin: auto;
            width: 50%;
            
            padding: 10px;
          }        
          .center3 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }
         /* .container10 {
            background-color: #B0B0B0;
	border-radius: 2px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    padding: 10px;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 200px;
          }*/
          .container10 {
            background-color: #fff;
            border-radius: 2px;
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
            position: relative;
              padding: 10px;
            overflow: hidden;
            width: 2000px auto;
            max-width: 100% auto;
            min-height: 1000px auto;
          }
          .float-container {
            border: 3px solid #fff;
            padding: 20px;
        }
        
        .float-child {
            width: 50%;
            float: left;
            padding: 20px;
            border: 2px solid grey;
        }  
        .flex-container {
          display: flex;
      }
      
      .flex-child {
          flex: 1;
          border: 2px solid grey;
          margin-right: 20px;
          margin-bottom: 20px;
          border-radius: 25px;
 
  padding: 35px;
  width: 400px auto;
  height: 475px auto;
      }  
      
     .p{ color:red;
      font-size: 15px;
    }

     .m1{
       text-align: right;
     }
     .Fsize{
       font-size: 10px;
     }
     .flex-child1 {
      flex: 1;
      border: 2px solid grey;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 25px;

padding: 35px;
width: 1000px auto;
height: 200px auto;
  }  