
.social-menu{
    margin-top: 0px;
}
  
.social-menu i{
    padding: 0px 0px;
    cursor: pointer;
    margin-bottom: 0px;
}
  
.social-menu i:hover{
    color: rgb(238, 56, 56);
    cursor:rgb(238, 56, 56);
}