.footer {
  background: rgb(30, 40, 51);
  padding: 10px 10%;
  color: rgb(255, 255, 255);
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 10%;
  color: rgb(74, 116, 223);
}
.spacing li{
  margin: 10px 0px;
  text-align: center;
}
.spacing a {
  text-decoration: none;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
}
.spacing i{
  color: rgb(255, 255, 255);
}
.spacing a:active,
.spacing a:hover {
  border: 1px solid rgb(255, 255, 255);
}
.bottom {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1048px) {
  .info {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .info {
    font-size: 10px;
  }
  .bottom {
    font-size: 5px;
  }
}
