@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, monospace;
  font-weight: bolder;
  list-style: none;
}
i{
  color: rgb(0, 0, 0);
}
input {
  border: none;
  text-align: center;
  border-bottom: 2px solid #000;
  background: inherit;
  outline: none;
}
input[type="file"]{
  display: none;
}
.file{
 cursor: pointer;
 border: 1px solid #000;
 margin: 20px 35% 0 35%;
 padding: 10px 0;
 border-radius: 25px;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.logo {
  width: 65px;
  align-items: center;
  border-radius: 50%;
}
header {
  position: sticky;
  top: 0;
}
.nav-bar {
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.menu-bar {
  font-size: 35px;
  cursor: pointer;
  transform: rotateZ(90deg);
  transition: all 1s ease;
}
.rotate {
  transform: rotateZ(0deg);
}
.menu-items {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: rgb(60, 100, 177);
  top: 90px;
  right: 0;
  text-align: center;
  transition: all 0.5s ease;
  overflow: hidden;
  overflow-y: scroll;
}
.menu-items li {
  padding: 20px 0;
}
.menu-items a {
  border: 1px solid transparent;
  padding: 2px 5px;
  color: rgb(0, 0, 0);
}
.menu-items a:hover {
  color: rgb(255, 255, 255);
}
.menu-items a:active {
  border: 1px solid rgb(255, 255, 255);
}
.show {
  right: -100%;
}
.title {
  background-image: linear-gradient(
      rgba(62, 62, 63, 0.3),
      rgba(94, 94, 94, 0.7)
    ),
    url("../images/title.png");
  height: 25vh;
  background-position: 50% 75%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.message {
  text-align: center;
  margin: 0 20%;
}
@media (max-width: 1048px) {
  .nav-bar {
    font-size: 13px;
  }
  .logo {
    width: 50px;
  }
  .menu-bar {
    font-size: 25px;
  }
  .menu-items {
    top: 74px;
  }
  .title {
    height: 20vh;
  }
  .title h2 {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 40px;
  }
  .menu-items {
    top: 62px;
    right: 0;
    width: 100%;
  }
  .menu-items a:active {
    border: 1px solid rgb(255, 255, 255);
  }
  .show {
    right: -100%;
  }
  .title {
    height: 15vh;
  }
  .message {
    font-size: 10px;
  }
}
.center {
  text-align: center;
}
.login {
  background-color: rgba(60, 100, 177, 1);
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border-style: none;
  transition: all 2s ease 0s;
}
.login:hover {
  background-color: rgba(60, 100, 177, 0.5);
}
.user{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#user{
  padding-right: 10px;
}