.outer {
  padding: 20px 0;
  margin: 70px 10%;
  background-color: rgb(229, 229, 229);
  border-radius: 25px;
}
.center {
  text-align: center;
}
.search {
  margin: 20px 5%;
}
.search-box {
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 50%;
  border-radius: 25px;
}
.tables {
  width: 10%;
  background-color: rgb(137, 160, 204);
  border-radius: 25px;
  padding: 10px 0;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
}
.submit {
  background-color: rgb(74, 116, 223);
  padding: 10px 2%;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  border: none;
}
.submit i{
  color: inherit;
}
table {
  background-color: #e5e5e5;
  margin: 20px auto;
  max-width: 100%;
  text-align: center;
}
th {
  border: 1px solid inherit;
  padding: 15px;
}
td {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 0, 0);
  border: 1px solid inherit;
  padding: 15px;
}
.entry {
  font-size: inherit;
}

@media (max-width: 1048px) {
  .entry,
  .search-box,
  .tables,
  .submit {
    font-size: 10px;
  }
  #heading {
    font-size: 12px;
  }
}
