table {
  background-color: #e5e5e5;
  margin: 120px auto;
  max-width: 100%;
  text-align: center;
  border: solid #e5e5e5;
  border-width: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

table caption {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #e5e5e5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

th {
  border-width: 2px;
}

td,
th {
  border: 1px solid inherit;
  padding: 15px;
  border-radius: 25px;
}

form {
  margin: 0px 32%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.button {
  background-color: rgba(60, 100, 177, 1);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 40px;
  border-style: none;
  border-radius: 10px;
}
